# Pandas practice session

In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dhs = pd.read_table("../NA_peaks.narrowPeak", sep='\t', header=None, index_col=False,
                         names=['chrom', 'start', 'end','name', 'score', 'strand', 'signalValue', 'pValue', 'qValue', 'peak'])
dhs.head()

,chrom,start,end,name,score,strand,signalValue,pValue,qValue,peak
0,chr1,10000,10271,NA_peak_1,225,.,10.82407,25.71658,22.52676,84
1,chr1,10350,10438,NA_peak_2,56,.,5.02008,8.12674,5.63927,52
2,chr1,11199,11411,NA_peak_3,131,.,7.76891,16.02707,13.17707,130
3,chr1,13976,14098,NA_peak_4,86,.,6.04432,11.28585,8.63214,69
4,chr1,30712,30825,NA_peak_5,60,.,3.51462,8.54919,6.03268,64

In [4]:
dhs = dhs.drop(['signalValue', 'pValue', 'qValue', 'strand', 'name', 'score', 'peak'], axis=1)
dhs.head()

  chrom  start    end
0  chr1  10000  10271
1  chr1  10350  10438
2  chr1  11199  11411
3  chr1  13976  14098
4  chr1  30712  30825

In [5]:
chip = pd.read_table('../wgEncodeGisChiaPetK562Pol2InteractionsRep1.bed', sep='\t', header=None, index_col=False,
                     names=['chrom', 'start', 'end', 'interaction', 'score', 'strand', 'unknown', 'unknown2', 'itemRGB', 'unknown3', 'length'])
chip = chip.drop(['score', 'strand', 'unknown', 'unknown2', 'itemRGB', 'unknown3', 'length'], axis=1)
chip.head()

  chrom   start     end                                      interaction
0  chr1  766545  768738        chr1:766545..768738-chr8:275760..277262,2
1  chr8  275760  277262        chr1:766545..768738-chr8:275760..277262,2
2  chr1  791044  793910        chr1:791044..793910-chr8:248210..251154,2
3  chr8  248210  251154        chr1:791044..793910-chr8:248210..251154,2
4  chr1  811815  813428  chr1:811815..813428-chr9:141073371..141075327,2

In [6]:
import re
p = re.compile("(?P<chrom1>chr\w+)[:](?P<start1>\d+)(..)(?P<end1>\d+)[-](?P<chrom2>chr\w+)[:](?P<start2>\d+)(..)(?P<end2>\d+)[,](?P<score>\d+)")
m = p.match('chr1:766545..768738-chr8:275760..277262,2')
print m.group("score")

2

In [7]:
groups = "(?P<chrom1>chr\w+)[:](?P<start1>\d+)(..)(?P<end1>\d+)[-](?P<chrom2>chr\w+)[:](?P<start2>\d+)(..)(?P<end2>\d+)[,](?P<score>\d+)"
interact = chip['interaction'].str.extract(groups, expand=True)
interact = interact.drop([2, 6], axis=1)

In [8]:
interact.drop_duplicates(inplace=True)
interact

       chrom1     start1       end1 chrom2     start2       end2 score
0        chr1     766545     768738   chr8     275760     277262     2
2        chr1     791044     793910   chr8     248210     251154     2
4        chr1     811815     813428   chr9  141073371  141075327     2
6        chr1     901734     903868  chr17    9127264    9128784     2
8        chr1    1288629    1290587  chr22   23932611   23934131     2
10       chr1    1333769    1335759   chr2  232318096  232319693     2
12       chr1    1334466    1336653   chr6   44213643   44215550     2
14       chr1    1508619    1510738   chr6   13285485   13287927     2
16       chr1    1538541    1540935  chr11   65194379   65196636     2
18       chr1    2116659    2118179  chr21   47743686   47745570     2
20       chr1    2438340    2439860   chr3   73159941   73161630     3
22       chr1    2438340    2441360  chr17   41463653   41467707     7
24       chr1    2439840    2441340  chr17   41561248   41563910     2
26       chr1    3267037    3270061  chr17   41463804   41467791    12
28       chr1    3267041    3270058  chr17   41398830   41402401     7
30       chr1    3267057    3270061  chr17   41381752   41383566     4
32       chr1    3268537    3270057  chr17   41387278   41389422     2
34       chr1    3268537    3270061  chr11   62607620   62609221     3
36       chr1    3268541    3270061  chr10  103123109  103124630     2
38       chr1    3268541    3270061   chr3   73158461   73162073     9
40       chr1    6741627    6743566  chr17   39847406   39849252     2
42       chr1    7721921    7723421  chr17   41463665   41466236     2
44       chr1    8344703    8346224  chr11   62622703   62624978     3
46       chr1    8344704    8346223  chr11   62619928   62622578     2
48       chr1    8920478    8921998  chr17   41380793   41383351     2
50       chr1    8921998    8923498  chr17   41380398   41382104     2
52       chr1    8929360    8931517  chr11   65656879   65659148     2
54       chr1    8931355    8933153   chr5   26001853   26003859     2
56       chr1    8938311    8940661   chr2   55644553   55646968     2
58       chr1    9750156    9751724   chr7   23568721   23571687     2
...       ...        ...        ...    ...        ...        ...   ...
222906   chrX  154258322  154260971   chrX  154297750  154300238     2
222907   chrX  154267404  154269821   chrX  154278341  154280494     2
222908   chrX  154267756  154269917   chrX  154271477  154273800     2
222909   chrX  154268716  154270990   chrX  154297607  154299900     2
222910   chrX  154271281  154274088   chrX  154299747  154301271     2
222911   chrX  154274281  154277644   chrX  154283098  154285463     3
222912   chrX  154276702  154279392   chrX  154297014  154300283     3
222913   chrX  154283971  154287521   chrX  154289201  154292331     3
222914   chrX  154284657  154287263   chrX  154297760  154299435     2
222915   chrX  154285752  154287392   chrX  154296129  154297641     2
222916   chrX  154296796  154302221   chrX  154311592  154316573     8
222917   chrX  154297159  154298894   chrX  154328287  154329888     2
222918   chrX  154299316  154301225   chrX  154443447  154445249     2
222919   chrX  154303943  154305602   chrX  154309169  154310711     2
222920   chrX  154308317  154310819   chrX  154313711  154316006     2
222921   chrX  154329802  154331820   chrX  154333553  154336194     2
222922   chrX  154330243  154332829   chrX  154336794  154338532     2
222923   chrX  154432946  154435728   chrX  154442294  154446983     5
222924   chrX  154434972  154436497   chrX  154439147  154441283     2
222925   chrX  154436728  154439876   chrX  154442540  154445105     4
222926   chrX  154439789  154442306   chrX  154448371  154451728     3
222927   chrX  154440008  154442406   chrX  154443755  154447353     4
222928   chrX  154443365  154447269   chrX  154448409  154450493     4
222929   chrX  154443547  154446264   chrX  154555865  154558025     2
222930   chrX  154459648  154462031   chrX  154469339  154471852     3
222931   chrX  154468831  154471729   chrX  154473235  154474752     2
222932   chrX  154488050  154490393   chrX  154494855  154496413     2
222933   chrX  154488693  154491669   chrX  154492165  154494068     3
222934   chrX  154555033  154557825   chrX  154560328  154562528     2
222935   chrX  154559947  154562400   chrX  154562408  154563990     2

[220895 rows x 7 columns]

In [9]:
interact = interact.apply(pd.to_numeric, errors='ignore')
dhs = dhs.apply(pd.to_numeric, errors='ignore')

In [135]:
print interact.head()

  chrom1   start1     end1 chrom2     start2       end2  score
0   chr1   766545   768738   chr8     275760     277262      2
2   chr1   791044   793910   chr8     248210     251154      2
4   chr1   811815   813428   chr9  141073371  141075327      2
6   chr1   901734   903868  chr17    9127264    9128784      2
8   chr1  1288629  1290587  chr22   23932611   23934131      2

In [115]:
ls = [1, 2, 3]
ls = ls + range(4, 6)
print ls

[1, 2, 3, 4, 5]

In [11]:
refGene = pd.read_table("../refGene.txt", sep='\t', header=None, index_col=False,
                         names=['bin', 'name', 'chrom', 'strand', 'txStart', 'txEnd'] + range(10))
refGene = refGene.drop(['bin'] + range(10), axis=1)
refGene

               name  chrom strand    txStart      txEnd
0         NR_024540   chr1      -      14361      29370
1         NR_110022   chrX      +  153991016  154005964
2         NR_033380   chrX      +    2527305    2575270
3         NR_033381   chrY      +    2477305    2506370
4         NM_182508  chr13      +   43355685   43365685
5         NM_181845  chr19      +   44331472   44353050
6         NR_039983   chr1      -     134772     140566
7         NR_028327   chr5      +  180750506  180755196
8      NM_001271875  chr17      -   55938603   56032684
9         NR_125989   chr1      -  222001007  222014008
10        NR_028327   chr1      -     661138     665731
11        NR_038217   chr6      +  134758853  134825158
12        NR_047519   chr1      +     762970     794826
13        NR_047115   chr5      -  146293769  146299069
14        NR_046716  chr13      +   77649648   77661911
15        NR_047524   chr1      +     762970     794826
16        NR_047525   chr1      +     763177     794826
17        NM_203354  chr14      +   39734475   39820397
18        NR_026874   chr1      -     852197     855072
19        NR_122045   chr1      -     852197     855072
20        NM_152486   chr1      +     861120     879961
21        NR_000015   chr1      +   45241536   45241610
22        NR_000014  chr17      +   27050446   27050509
23        NM_014957   chr8      +  142138719  142205900
24     NM_001291366   chr1      -     910578     917497
25     NM_001291367   chr1      -     910578     917497
26     NM_001305275   chr1      +     955502     991499
27     NM_001330749   chr9      -  111629796  111696612
28        NM_198718   chr1      -   71418114   71513491
29        NM_198717   chr1      -   71318035   71513491
...             ...    ...    ...        ...        ...
67285  NM_001352723   chr8      -  141668480  142011412
67286  NM_001352724   chr8      -  141668480  142011412
67287  NM_001352725   chr8      -  141668480  142011412
67288  NM_001352726   chr8      -  141668480  142011412
67289  NM_001352727   chr8      -  141668480  142011412
67290  NM_001352728   chr8      -  141668480  142011412
67291  NM_001352729   chr8      -  141668480  142011412
67292  NM_001352730   chr8      -  141668480  142011412
67293  NM_001352731   chr8      -  141668480  142011412
67294  NM_001352732   chr8      -  141668480  142011412
67295  NM_001352733   chr8      -  141668480  142011412
67296  NM_001352734   chr8      -  141668480  142011412
67297  NM_001352735   chr8      -  141668480  142011412
67298  NM_001352736   chr8      -  141668480  142011412
67299  NM_001352737   chr8      -  141668480  142011412
67300  NM_001352738   chr8      -  141668480  142011412
67301  NM_001352739   chr8      -  141668480  142011412
67302  NM_001352740   chr8      -  141668480  142011412
67303  NM_001352741   chr8      -  141668480  142011412
67304  NM_001352742   chr8      -  141668480  142011412
67305  NM_001352743   chr8      -  141668480  142011412
67306  NM_001352744   chr8      -  141668480  142011412
67307  NM_001352745   chr8      -  141668480  142011412
67308  NM_001352747   chr8      -  141668480  142011412
67309     NR_148036   chr8      -  141668480  142011412
67310     NR_148037   chr8      -  141668480  142011412
67311     NR_148038   chr8      -  141668480  142011412
67312     NR_148039   chr8      -  141668480  142011412
67313  NM_001352699   chr8      -  141668480  142012178
67314  NM_001352748   chr8      -  141760301  142011412

[67315 rows x 5 columns]

In [12]:
refGene.drop(refGene[refGene.name.str.startswith('NR_')].index, axis=0, inplace=True)

In [13]:
pattern = 'chr\w+[_]\w+'
print refGene[refGene.chrom.str.contains(pattern)].index
refGene.drop(refGene[refGene.chrom.str.contains(pattern)].index, axis=0, inplace=True)
refGene

Int64Index([   81,    93,    94,   139,   233,   281,   319,   350,   365,
              494,
            ...
            66172, 66173, 66174, 66175, 66176, 66449, 66450, 66451, 66452,
            66453],
           dtype='int64', length=2218)

               name  chrom strand    txStart      txEnd
4         NM_182508  chr13      +   43355685   43365685
5         NM_181845  chr19      +   44331472   44353050
8      NM_001271875  chr17      -   55938603   56032684
17        NM_203354  chr14      +   39734475   39820397
20        NM_152486   chr1      +     861120     879961
23        NM_014957   chr8      +  142138719  142205900
24     NM_001291366   chr1      -     910578     917497
25     NM_001291367   chr1      -     910578     917497
26     NM_001305275   chr1      +     955502     991499
27     NM_001330749   chr9      -  111629796  111696612
28        NM_198718   chr1      -   71418114   71513491
29        NM_198717   chr1      -   71318035   71513491
30     NM_001206994   chr4      -    6322304    6565327
32     NM_001349556   chr5      -   19471404   20575982
34     NM_001142531   chr9      -  130500595  130524719
35        NM_018662   chr1      +  231762560  232177019
36        NM_030818  chr19      +   13858676   13874112
37        NM_024711   chr7      -  150322463  150329736
38        NM_021121   chr2      +  207024317  207027653
39     NM_001135058  chr14      +   31343740   31359822
40        NM_152377   chr1      -   60456065   60539442
43     NM_001271015   chr8      -   74692331   74791145
44     NM_001282682   chr2      -     218135     264866
45     NM_001282678   chr7      -   92116336   92157845
46     NM_001282701  chr10      -   14560555   14614188
47     NM_001282683  chr16      -   87360592   87425713
48     NM_001282696  chr10      -   14560555   14646417
49     NM_001040694  chr11      +   61891444   61920635
50        NM_152228   chr1      +    1266725    1270700
51     NM_001308218   chr5      +  176449680  176494983
...             ...    ...    ...        ...        ...
67281  NM_001352719   chr8      -  141668480  142011412
67282  NM_001352720   chr8      -  141668480  142011412
67283  NM_001352721   chr8      -  141668480  142011412
67284  NM_001352722   chr8      -  141668480  142011412
67285  NM_001352723   chr8      -  141668480  142011412
67286  NM_001352724   chr8      -  141668480  142011412
67287  NM_001352725   chr8      -  141668480  142011412
67288  NM_001352726   chr8      -  141668480  142011412
67289  NM_001352727   chr8      -  141668480  142011412
67290  NM_001352728   chr8      -  141668480  142011412
67291  NM_001352729   chr8      -  141668480  142011412
67292  NM_001352730   chr8      -  141668480  142011412
67293  NM_001352731   chr8      -  141668480  142011412
67294  NM_001352732   chr8      -  141668480  142011412
67295  NM_001352733   chr8      -  141668480  142011412
67296  NM_001352734   chr8      -  141668480  142011412
67297  NM_001352735   chr8      -  141668480  142011412
67298  NM_001352736   chr8      -  141668480  142011412
67299  NM_001352737   chr8      -  141668480  142011412
67300  NM_001352738   chr8      -  141668480  142011412
67301  NM_001352739   chr8      -  141668480  142011412
67302  NM_001352740   chr8      -  141668480  142011412
67303  NM_001352741   chr8      -  141668480  142011412
67304  NM_001352742   chr8      -  141668480  142011412
67305  NM_001352743   chr8      -  141668480  142011412
67306  NM_001352744   chr8      -  141668480  142011412
67307  NM_001352745   chr8      -  141668480  142011412
67308  NM_001352747   chr8      -  141668480  142011412
67313  NM_001352699   chr8      -  141668480  142012178
67314  NM_001352748   chr8      -  141760301  142011412

[48967 rows x 5 columns]

In [14]:
refGene.index

Int64Index([    4,     5,     8,    17,    20,    23,    24,    25,    26,
               27,
            ...
            67301, 67302, 67303, 67304, 67305, 67306, 67307, 67308, 67313,
            67314],
           dtype='int64', length=48967)

In [15]:
prom = []
for idx, row in refGene.iterrows():
    if row.strand == '-':
        prom.append(row.txEnd)
    elif row.strand == '+':
        prom.append(row.txStart)
prom = np.asarray(prom)

In [16]:
prom = np.asarray(prom)
a = prom - 1000
a[:10]

array([ 43354685,  44330472,  56031684,  39733475,    860120, 142137719,
          916497,    916497,    954502, 111695612])

In [17]:
promoter = pd.DataFrame({'promStart': prom - 1000,
                        'promEnd': prom + 1000},
                       index=refGene.index)
promoter = pd.concat([refGene, promoter], axis=1)
promoter.drop(['txStart', 'txEnd'], axis=1, inplace=True)
promoter

               name  chrom strand    promEnd  promStart
4         NM_182508  chr13      +   43356685   43354685
5         NM_181845  chr19      +   44332472   44330472
8      NM_001271875  chr17      -   56033684   56031684
17        NM_203354  chr14      +   39735475   39733475
20        NM_152486   chr1      +     862120     860120
23        NM_014957   chr8      +  142139719  142137719
24     NM_001291366   chr1      -     918497     916497
25     NM_001291367   chr1      -     918497     916497
26     NM_001305275   chr1      +     956502     954502
27     NM_001330749   chr9      -  111697612  111695612
28        NM_198718   chr1      -   71514491   71512491
29        NM_198717   chr1      -   71514491   71512491
30     NM_001206994   chr4      -    6566327    6564327
32     NM_001349556   chr5      -   20576982   20574982
34     NM_001142531   chr9      -  130525719  130523719
35        NM_018662   chr1      +  231763560  231761560
36        NM_030818  chr19      +   13859676   13857676
37        NM_024711   chr7      -  150330736  150328736
38        NM_021121   chr2      +  207025317  207023317
39     NM_001135058  chr14      +   31344740   31342740
40        NM_152377   chr1      -   60540442   60538442
43     NM_001271015   chr8      -   74792145   74790145
44     NM_001282682   chr2      -     265866     263866
45     NM_001282678   chr7      -   92158845   92156845
46     NM_001282701  chr10      -   14615188   14613188
47     NM_001282683  chr16      -   87426713   87424713
48     NM_001282696  chr10      -   14647417   14645417
49     NM_001040694  chr11      +   61892444   61890444
50        NM_152228   chr1      +    1267725    1265725
51     NM_001308218   chr5      +  176450680  176448680
...             ...    ...    ...        ...        ...
67281  NM_001352719   chr8      -  142012412  142010412
67282  NM_001352720   chr8      -  142012412  142010412
67283  NM_001352721   chr8      -  142012412  142010412
67284  NM_001352722   chr8      -  142012412  142010412
67285  NM_001352723   chr8      -  142012412  142010412
67286  NM_001352724   chr8      -  142012412  142010412
67287  NM_001352725   chr8      -  142012412  142010412
67288  NM_001352726   chr8      -  142012412  142010412
67289  NM_001352727   chr8      -  142012412  142010412
67290  NM_001352728   chr8      -  142012412  142010412
67291  NM_001352729   chr8      -  142012412  142010412
67292  NM_001352730   chr8      -  142012412  142010412
67293  NM_001352731   chr8      -  142012412  142010412
67294  NM_001352732   chr8      -  142012412  142010412
67295  NM_001352733   chr8      -  142012412  142010412
67296  NM_001352734   chr8      -  142012412  142010412
67297  NM_001352735   chr8      -  142012412  142010412
67298  NM_001352736   chr8      -  142012412  142010412
67299  NM_001352737   chr8      -  142012412  142010412
67300  NM_001352738   chr8      -  142012412  142010412
67301  NM_001352739   chr8      -  142012412  142010412
67302  NM_001352740   chr8      -  142012412  142010412
67303  NM_001352741   chr8      -  142012412  142010412
67304  NM_001352742   chr8      -  142012412  142010412
67305  NM_001352743   chr8      -  142012412  142010412
67306  NM_001352744   chr8      -  142012412  142010412
67307  NM_001352745   chr8      -  142012412  142010412
67308  NM_001352747   chr8      -  142012412  142010412
67313  NM_001352699   chr8      -  142013178  142011178
67314  NM_001352748   chr8      -  142012412  142010412

[48967 rows x 5 columns]

In [35]:
promoter.sort_values('name', axis=0, inplace=True)
promoter.drop_duplicates(subset=['promEnd', 'promStart'], inplace=True)

In [96]:
promoter = promoter[['name', 'chrom', 'strand', 'promStart', 'promEnd']]
promoter

            name  chrom strand  promStart    promEnd
40861  NM_000014  chr12      -    9267825    9269825
40860  NM_000015   chr8      +   18247754   18249754
7901   NM_000016   chr1      +   76189031   76191031
27867  NM_000017  chr12      +  121162540  121164540
14213  NM_000018  chr17      +    7122149    7124149
261    NM_000019  chr11      +  107991257  107993257
47867  NM_000020  chr12      +   52300201   52302201
64731  NM_000021  chr14      +   73602142   73604142
30050  NM_000022  chr20      -   43279399   43281399
20298  NM_000023  chr17      +   48242345   48244345
778    NM_000024   chr5      +  148205155  148207155
260    NM_000025   chr8      -   37823184   37825184
50228  NM_000026  chr22      +   40741503   40743503
38503  NM_000027   chr4      -  178362657  178364657
26549  NM_000028   chr1      +  100315044  100317044
64730  NM_000029   chr1      -  230849336  230851336
43857  NM_000030   chr2      +  241807161  241809161
38098  NM_000031   chr9      -  116162618  116164618
50040  NM_000032   chrX      -   55056497   55058497
48624  NM_000033   chrX      +  152989322  152991322
64729  NM_000034  chr16      +   30063410   30065410
5282   NM_000035   chr9      -  104197062  104199062
6475   NM_000036   chr1      -  115237239  115239239
46363  NM_000037   chr8      -   41654140   41656140
64737  NM_000038   chr5      +  112072555  112074555
52434  NM_000039  chr11      -  116707666  116709666
47985  NM_000040  chr11      +  116699623  116701623
25238  NM_000041  chr19      +   45408005   45410005
22013  NM_000042  chr17      -   64224556   64226556
33154  NM_000043  chr10      +   90749315   90751315
...          ...    ...    ...        ...        ...
42881  NM_207662  chr14      +   89059729   89061729
56643  NM_212471  chr17      +   66506920   66508920
58246  NM_212533   chr9      -  139922374  139924374
58173  NM_212550  chr19      +   45681002   45683002
57126  NM_212551   chr1      -  151137370  151139370
10591  NM_212555  chr11      -  125647714  125649714
57270  NM_212556   chr2      -  237171988  237173988
50243  NM_212558   chr9      +   32782496   32784496
57125  NM_212559   chrX      -  100182898  100184898
39121  NM_213560  chr19      +   14550085   14552085
41031  NM_213594  chr12      +  106975684  106977684
12768  NM_213596  chr12      -  109746025  109748025
32194  NM_213597  chr17      -    8273858    8275858
60405  NM_213598  chr19      +   57830864   57832864
8713   NM_213600  chr15      -   42447839   42449839
57127  NM_213602  chr18      +   43404544   43406544
63867  NM_213604  chr19      -    1512188    1514188
56824  NM_213606  chr10      -   91294313   91296313
57345  NM_213608   chr2      -  197674000  197676000
2604   NM_213609   chr3      +   68052358   68054358
57129  NM_213618  chr11      -    8831224    8833224
35752  NM_213620   chr8      -   54754602   54756602
62932  NM_213622   chr2      +   74055124   74057124
63317  NM_213649  chr10      -  120924204  120926204
59660  NM_213651   chr1      -  108734431  108736431
56818  NM_213656  chr17      -   39122144   39124144
57344  NM_213657  chr12      -   10606215   10608215
56994  NM_213662  chr17      -   40539405   40541405
39557  NM_214461   chr2      -  132558234  132560234
37389  NM_214711   chr4      +   71018903   71020903

[26380 rows x 5 columns]

In [136]:
promoter.reset_index()

       index       name  chrom strand  promStart    promEnd
0      40861  NM_000014  chr12      -    9267825    9269825
1      40860  NM_000015   chr8      +   18247754   18249754
2       7901  NM_000016   chr1      +   76189031   76191031
3      27867  NM_000017  chr12      +  121162540  121164540
4      14213  NM_000018  chr17      +    7122149    7124149
5        261  NM_000019  chr11      +  107991257  107993257
6      47867  NM_000020  chr12      +   52300201   52302201
7      64731  NM_000021  chr14      +   73602142   73604142
8      30050  NM_000022  chr20      -   43279399   43281399
9      20298  NM_000023  chr17      +   48242345   48244345
10       778  NM_000024   chr5      +  148205155  148207155
11       260  NM_000025   chr8      -   37823184   37825184
12     50228  NM_000026  chr22      +   40741503   40743503
13     38503  NM_000027   chr4      -  178362657  178364657
14     26549  NM_000028   chr1      +  100315044  100317044
15     64730  NM_000029   chr1      -  230849336  230851336
16     43857  NM_000030   chr2      +  241807161  241809161
17     38098  NM_000031   chr9      -  116162618  116164618
18     50040  NM_000032   chrX      -   55056497   55058497
19     48624  NM_000033   chrX      +  152989322  152991322
20     64729  NM_000034  chr16      +   30063410   30065410
21      5282  NM_000035   chr9      -  104197062  104199062
22      6475  NM_000036   chr1      -  115237239  115239239
23     46363  NM_000037   chr8      -   41654140   41656140
24     64737  NM_000038   chr5      +  112072555  112074555
25     52434  NM_000039  chr11      -  116707666  116709666
26     47985  NM_000040  chr11      +  116699623  116701623
27     25238  NM_000041  chr19      +   45408005   45410005
28     22013  NM_000042  chr17      -   64224556   64226556
29     33154  NM_000043  chr10      +   90749315   90751315
...      ...        ...    ...    ...        ...        ...
26350  42881  NM_207662  chr14      +   89059729   89061729
26351  56643  NM_212471  chr17      +   66506920   66508920
26352  58246  NM_212533   chr9      -  139922374  139924374
26353  58173  NM_212550  chr19      +   45681002   45683002
26354  57126  NM_212551   chr1      -  151137370  151139370
26355  10591  NM_212555  chr11      -  125647714  125649714
26356  57270  NM_212556   chr2      -  237171988  237173988
26357  50243  NM_212558   chr9      +   32782496   32784496
26358  57125  NM_212559   chrX      -  100182898  100184898
26359  39121  NM_213560  chr19      +   14550085   14552085
26360  41031  NM_213594  chr12      +  106975684  106977684
26361  12768  NM_213596  chr12      -  109746025  109748025
26362  32194  NM_213597  chr17      -    8273858    8275858
26363  60405  NM_213598  chr19      +   57830864   57832864
26364   8713  NM_213600  chr15      -   42447839   42449839
26365  57127  NM_213602  chr18      +   43404544   43406544
26366  63867  NM_213604  chr19      -    1512188    1514188
26367  56824  NM_213606  chr10      -   91294313   91296313
26368  57345  NM_213608   chr2      -  197674000  197676000
26369   2604  NM_213609   chr3      +   68052358   68054358
26370  57129  NM_213618  chr11      -    8831224    8833224
26371  35752  NM_213620   chr8      -   54754602   54756602
26372  62932  NM_213622   chr2      +   74055124   74057124
26373  63317  NM_213649  chr10      -  120924204  120926204
26374  59660  NM_213651   chr1      -  108734431  108736431
26375  56818  NM_213656  chr17      -   39122144   39124144
26376  57344  NM_213657  chr12      -   10606215   10608215
26377  56994  NM_213662  chr17      -   40539405   40541405
26378  39557  NM_214461   chr2      -  132558234  132560234
26379  37389  NM_214711   chr4      +   71018903   71020903

[26380 rows x 6 columns]

In [106]:
row = interact.iloc[0]
np.array([row.start1, row.start2])
out_arr = np.empty((0, 7), dtype=object)

array([[1, 2, 3, 4, 5, 6, 7]], dtype=object)

In [122]:
cnt = 0
out_arr = np.empty((0, 8), dtype=object)
for chipIdx, chipRow in interact.iterrows():
    condition1 = (promoter.chrom == chipRow.chrom1) & (promoter.promEnd > chipRow.start1) & (promoter.promStart < chipRow.end1)
    condition2 = (promoter.chrom == chipRow.chrom2) & (promoter.promEnd > chipRow.start2) & (promoter.promStart < chipRow.end2)
    tmp_df1 = promoter[condition1]
    tmp_df2 = promoter[condition2]
    
    m1, m2 = tmp_df1.shape[0], tmp_df2.shape[0] 
    r = promoter.shape[1]
    tmp_out = np.empty((m1+m2,r+3),dtype=object)
    tmp_out[:m1, :r] = tmp_df1.values[:, :]
    tmp_out[m1:m1+m2, :r] = tmp_df2.values[:, :]
    tmp_out[:m1, r:r+3] = np.array([chipRow.chrom2, chipRow.start2, chipRow.end2])
    tmp_out[m1:m1+m2, r:r+3] = np.array([chipRow.chrom1, chipRow.start1, chipRow.end1])
    out_arr = np.vstack((out_arr, tmp_out))
    #matchedProm = matchedProm.append(promoter[condition1 | condition2])
    cnt += 1
    if cnt > 1000:
        break
matchedProm = pd.DataFrame(out_arr, columns=['name', 'chrom', 'strand', 'promStart', 'promEnd', 'enChrom', 'enStart', 'enEnd'])
matchedProm = matchedProm.apply(pd.to_numeric, errors='ignore')

In [126]:
for promIdx, promRow in promoter.iterrows():
    isPromoter = (promRow.chrom == matchedProm.enChrom) & (promRow.promEnd > matchedProm.enStart) & (promRow.promStart < matchedProm.enEnd)
    noprom = matchedProm.drop(matchedProm[isPromoter].index)
noprom

,name,chrom,strand,promStart,promEnd,enChrom,enStart,enEnd
0,NM_001160184,chr1,+,900876,902876,chr17,9127264,9128784
1,NM_001039577,chr1,-,1333722,1335722,chr2,232318096,232319693
2,NM_001350497,chr1,-,1332722,1334722,chr2,232318096,232319693
3,NM_001039577,chr1,-,1333722,1335722,chr6,44213643,44215550
4,NM_001350497,chr1,-,1332722,1334722,chr6,44213643,44215550
5,NM_001271969,chr6,+,44213694,44215694,chr1,1334466,1336653
6,NM_001271970,chr6,+,44212902,44214902,chr1,1334466,1336653
7,NM_014188,chr1,-,1509262,1511262,chr6,13285485,13287927
8,NM_001286476,chr21,-,47742813,47744813,chr1,2116659,2118179
9,NM_001286477,chr21,-,47742771,47744771,chr1,2116659,2118179
10,NM_001315529,chr21,+,47743801,47745801,chr1,2116659,2118179
11,NM_006031,chr21,+,47743035,47745035,chr1,2116659,2118179
12,NM_001302623,chr17,+,41560284,41562284,chr1,2439840,2441340
13,NM_001322216,chr17,+,41560232,41562232,chr1,2439840,2441340
14,NM_001307977,chr11,-,62606131,62608131,chr1,3268537,3270061
15,NM_018093,chr11,-,62606628,62608628,chr1,3268537,3270061
16,NM_001012662,chr11,+,62622483,62624483,chr1,8344703,8346224
17,NM_001012662,chr11,+,62622483,62624483,chr1,8344704,8346223
18,NM_001201483,chr1,-,8930635,8932635,chr11,65656879,65659148
19,NM_004214,chr11,-,65655010,65657010,chr1,8929360,8931517
20,NM_006848,chr11,+,65656874,65658874,chr1,8929360,8931517
21,NM_001201483,chr1,-,8930635,8932635,chr5,26001853,26003859
22,NM_001428,chr1,-,8938151,8940151,chr2,55644553,55646968
23,NM_001135597,chr2,-,55646057,55648057,chr1,8938311,8940661
24,NM_001350234,chr1,+,9748602,9750602,chr7,23568721,23571687
25,NM_001350235,chr1,+,9750524,9752524,chr7,23568721,23571687
26,NM_001282757,chr7,-,23570660,23572660,chr1,9750156,9751724
27,NM_015074,chr1,+,10269763,10271763,chr17,41462941,41466799
28,NM_020780,chr1,+,11538294,11540294,chr17,41464880,41467803
29,NM_020780,chr1,+,11538294,11540294,chr17,41380611,41382205
...,...,...,...,...,...,...,...,...
825,NM_033387,chr9,-,134150906,134152906,chr13,108518314,108522041
826,NM_033387,chr9,-,134150906,134152906,chr13,108522753,108525216
827,NM_033387,chr9,-,134150906,134152906,chr13,108526355,108540506
828,NM_033387,chr9,-,134150906,134152906,chr13,108541479,108543883
829,NM_033387,chr9,-,134150906,134152906,chr13,108552332,108555306
830,NM_033387,chr9,-,134150906,134152906,chr13,108554803,108557024
831,NM_033387,chr9,-,134150906,134152906,chr13,108562091,108564213
832,NM_033387,chr9,-,134150906,134152906,chr13,108565182,108568311
833,NM_033387,chr9,-,134150906,134152906,chr13,108579266,108581272
834,NM_033387,chr9,-,134150906,134152906,chr13,108582727,108585110
835,NM_033387,chr9,-,134150906,134152906,chr13,108589774,108593109
836,NM_004327,chr22,+,23521551,23523551,chr13,108591675,108594835
837,NM_033387,chr9,-,134150906,134152906,chr13,108594078,108599152
838,NM_001185095,chr9,+,133970862,133972862,chr13,108594411,108596117
839,NM_033387,chr9,-,134150906,134152906,chr13,108630631,108632766
840,NM_033387,chr9,-,134150906,134152906,chr13,108633965,108639345
841,NM_033387,chr9,-,134150906,134152906,chr13,108648401,108662889
842,NM_001267728,chr13,+,111366783,111368783,chr9,123638760,123640480
843,NM_005537,chr13,+,111366358,111368358,chr9,123638760,123640480
844,NM_198218,chr13,+,111364609,111366609,chr9,123638760,123640480
845,NM_001009936,chr9,-,123638606,123640606,chr13,111366242,111369169
846,NM_001286732,chr13,-,114017463,114019463,chr17,33478259,33479814
847,NM_007111,chr13,+,114238055,114240055,chrX,36980414,36983411
848,NM_001329226,chr14,+,23339925,23341925,chr2,21666341,21668692
849,NM_001247988,chr14,+,39734501,39736501,chr6,27859439,27860958
850,NM_001247989,chr14,+,39735327,39737327,chr6,27859439,27860958
851,NM_203354,chr14,+,39733475,39735475,chr6,27859439,27860958
852,NM_003514,chr6,-,27859963,27861963,chr14,39733752,39736599
853,NM_003527,chr6,+,27860202,27862202,chr14,39733752,39736599
854,NM_003535,chr6,-,27857570,27859570,chr14,39733752,39736599

In [137]:
result_arr = np.empty((0, 8), dtype=object)
cnt = 0
print dhs.shape, matchedProm.shape
for dhsIdx, dhsRow in dhs.iterrows():
    condition = (dhsRow.chrom == matchedProm.enChrom) & (dhsRow.end > matchedProm.enStart) & (dhsRow.start < matchedProm.enEnd)
    tmp_df = matchedProm[condition]
    m, r = tmp_df.shape[0], matchedProm.shape[1]
    tmp_out = np.empty((m, r), dtype=object)
    tmp_out[:, :-2] = tmp_df.values[:, :-2]
    tmp_out[:, -2:] = dhsRow.values[-2:]
    result_arr = np.vstack((result_arr, tmp_out))
    cnt += 1
    if cnt % 5000 == 0:
        print "loop " + cnt
        
result = pd.DataFrame(result_arr, columns=['name', 'chrom', 'strand', 'promStart', 'promEnd', 'enChrom', 'enStart', 'enEnd'])
print result.shape

,name,chrom,strand,promStart,promEnd,enChrom,enStart,enEnd
0,NM_001271969,chr6,+,44213694,44215694,chr1,1334706,1334997
1,NM_001271970,chr6,+,44212902,44214902,chr1,1334706,1334997
2,NM_001271969,chr6,+,44213694,44215694,chr1,1335121,1335283
3,NM_001271970,chr6,+,44212902,44214902,chr1,1335121,1335283
4,NM_001135597,chr2,-,55646057,55648057,chr1,8938697,8938978
5,NM_001135597,chr2,-,55646057,55648057,chr1,8939156,8939332
6,NM_001135597,chr2,-,55646057,55648057,chr1,8939386,8939508
7,NM_001135597,chr2,-,55646057,55648057,chr1,8940182,8940453
8,NM_001199954,chr17,-,79478892,79480892,chr1,11967841,11968109
9,NM_007215,chr17,-,62492184,62494184,chr1,11967841,11968109
10,NM_001307977,chr11,-,62606131,62608131,chr1,11967841,11968109
11,NM_018093,chr11,-,62606628,62608628,chr1,11967841,11968109
12,NM_003522,chr6,+,26198786,26200786,chr1,11967841,11968109
13,NM_003530,chr6,-,26198521,26200521,chr1,11967841,11968109
14,NM_001293212,chr6,+,30688325,30690325,chr1,11967841,11968109
15,NM_001293213,chr6,+,30686977,30688977,chr1,11967841,11968109
16,NM_005801,chr17,+,39844126,39846126,chr1,11967841,11968109
17,NM_001199954,chr17,-,79478892,79480892,chr1,11968217,11969164
18,NM_007215,chr17,-,62492184,62494184,chr1,11968217,11969164
19,NM_001307977,chr11,-,62606131,62608131,chr1,11968217,11969164
20,NM_018093,chr11,-,62606628,62608628,chr1,11968217,11969164
21,NM_003522,chr6,+,26198786,26200786,chr1,11968217,11969164
22,NM_003530,chr6,-,26198521,26200521,chr1,11968217,11969164
23,NM_001293212,chr6,+,30688325,30690325,chr1,11968217,11969164
24,NM_001293213,chr6,+,30686977,30688977,chr1,11968217,11969164
25,NM_005801,chr17,+,39844126,39846126,chr1,11968217,11969164
26,NM_002714,chr6,-,30584084,30586084,chr1,11968217,11969164
27,NM_014046,chr6,+,30584485,30586485,chr1,11968217,11969164
28,NM_030629,chr16,+,81527953,81529953,chr1,11968217,11969164
29,NM_001969,chr14,+,103799338,103801338,chr1,11968217,11969164
...,...,...,...,...,...,...,...,...
817,NM_001282652,chr11,+,63951743,63953743,chr7,61968534,61969688
818,NM_001282653,chr11,+,63952586,63954586,chr7,61968534,61969688
819,NM_001282652,chr11,+,63951743,63953743,chr7,61970224,61970587
820,NM_001282653,chr11,+,63952586,63954586,chr7,61970224,61970587
821,NM_001282652,chr11,+,63951743,63953743,chr7,61971080,61971288
822,NM_001282653,chr11,+,63952586,63954586,chr7,61971080,61971288
823,NM_021009,chr12,-,125398587,125400587,chr7,101459165,101459324
824,NM_001307977,chr11,-,62606131,62608131,chr8,15395570,15395717
825,NM_018093,chr11,-,62606628,62608628,chr8,15395570,15395717
826,NM_194285,chr11,-,18655020,18657020,chr8,56987003,56987385
827,NM_024852,chr1,+,36395682,36397682,chr8,97273549,97273884
828,NM_024852,chr1,+,36395682,36397682,chr8,97274116,97274284
829,NM_001042678,chr1,-,113249025,113251025,chr9,96928956,96929453
830,NM_001042679,chr1,-,113248678,113250678,chr9,96928956,96929453
831,NM_001267728,chr13,+,111366783,111368783,chr9,123638525,123639067
832,NM_005537,chr13,+,111366358,111368358,chr9,123638525,123639067
833,NM_198218,chr13,+,111364609,111366609,chr9,123638525,123639067
834,NM_001267728,chr13,+,111366783,111368783,chr9,123639567,123639691
835,NM_005537,chr13,+,111366358,111368358,chr9,123639567,123639691
836,NM_198218,chr13,+,111364609,111366609,chr9,123639567,123639691
837,NM_001267728,chr13,+,111366783,111368783,chr9,123639732,123639869
838,NM_005537,chr13,+,111366358,111368358,chr9,123639732,123639869
839,NM_198218,chr13,+,111364609,111366609,chr9,123639732,123639869
840,NM_001080396,chr13,-,108518460,108520460,chr9,134153437,134153765
841,NM_001307977,chr11,-,62606131,62608131,chr9,140404454,140404596
842,NM_018093,chr11,-,62606628,62608628,chr9,140404454,140404596
843,NM_001307977,chr11,-,62606131,62608131,chr9,140405465,140405566
844,NM_018093,chr11,-,62606628,62608628,chr9,140405465,140405566
845,NM_001307977,chr11,-,62606131,62608131,chr9,140406139,140406639
846,NM_018093,chr11,-,62606628,62608628,chr9,140406139,140406639